<div id="assets_selector" style="display:none;">
	{{ assets_selector }}
</div>
<script src="{{ asset('bundles/titlemanagementtool/js/musi.js') }}" type="text/javascript" charset="utf-8" ></script>
<script src="{{ asset('bundles/titlemanagementtool/js/assets_selector.js') }}" type="text/javascript" charset="utf-8" ></script>