<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=640,user-scalable=no" />
        <title>{% block title %}BaseHtmlTwig{% endblock %}</title>
        {% for css in outer_css %}
        	<link rel="stylesheet" href="{{ asset(css) }}" type="text/css" />
        {% endfor %}
		<style type="text/css">
			body {-webkit-text-size-adjust: 100%;width:640px;}
		</style>
        {% for js in outer_js %}
			<script type="text/javascript" src="{{ asset(js) }}"></script>
        {% endfor %}
    </head>
    <body>
		{% block body %}{% endblock %}
    </body>
</html>